{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}" />
    <title>Home</title>
</head>
<body>
    {% include 'navbar.html' %}
    <header>
        <h1>Welcome to the landmine detection projet</h1>
        <p>Innovating Mine Detection</p>
    </header>
    <div class="main-container">
        <h2>About the Project</h2>
        <p>The landmine detection projet is a collaboration between the startup Hear & Know and the engineering students at ESILV. This project aims to designing an autonomous mine-sweeping robot equipped with advanced AI and state-of-the-art sensors.</p>
        
        <div class="highlight">
            <p>Landmines remain one of the most persistent threats in conflict zones worldwide, posing risks to civilians and impeding the recovery of war-torn areas. This project focuses on making demining faster, safer, and more effective.</p>
        </div>

        <p>The primary goal is to develop a robot capable of detecting and mapping the location of landmines with exceptional precision. By integrating multiple sensors, including infrared cameras, metal detectors, and LiDAR, this robot will collect and interpret critical data to identify and localize landmines.</p>

        <p>The information will then be visualized on an interactive map, making it easy for demining teams to act quickly and efficiently.</p>

        <p>This solution has the potential to save lives and restore safety in affected regions, paving the way for a mine-free world.</p>

        <div class="learn-more">
            <a href="/teams">Learn More</a>
            <!-- <button onclick="alert('TODO')">Learn More</button> -->
        </div>
    </div>

</body>
</html>