{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Partners</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/partners.css' %}" />
</head>
<body>
    {% include 'navbar.html' %}
    <div class="partners-section">
        <h1>Meet Our Partners</h1>
      
        <div class="partners-container">
            <div class="partner-card">
                <img src="{% static 'images/icons/hear&know_logo.png' %}" alt="Hear & Know logo" class="partner-photo" height="60px" style="padding: 10px 0;">
                <h2>Hear & Know</h2>
                <p>
                    Hear & Know is a startup created in 2012 specialized in Internet of Things and connected objects.<br>
                    The company focuses on security and tracking for valuable assets, offering innovative "GPS of things" technology that works seamlessly both indoors and outdoors.<br>
                    Their first applications target the protection of individuals in high-risk environments and the precise tracking of vulnerable individuals.
                </p>
                <div class="social-links">
                    <a href="https://www.linkedin.com/company/hearandknow" target="_blank" class="social-link">LinkedIn</a>
                </div>
            </div>
            <div class="partner-card">
                <img src="{% static 'images/icons/logo_esilv_png_couleur.png' %}" alt="logo esilv" class="partner-photo" height="80px" width="80px"> <!-- source : https://www.esilv.fr/ecole-ingenieur/logos/logo_esilv_png_couleur.png -->
                <h2>ESILV</h2>
                <p>
                    ESILV (École Supérieure d'Ingénieurs Léonard-de-Vinci) is a French engineering school located in Paris-La Défense. It specializes in digital innovation, focusing on fields such as data science, artificial intelligence, cybersecurity, and fintech.
                </p>
                <div class="social-links">
                    <a href="https://www.esilv.fr/" target="_blank" class="social-link">Website</a>
                    <a href="https://www.facebook.com/ESILVparis/" target="_blank" class="social-link">Facebook</a>
                    <a href="https://twitter.com/esilvparis" target="_blank" class="social-link">Twitter</a>
                </div>
            </div>
        </div>
      </div>    
</body>
</html>