{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/single_team.css' %}" />
    <title>Team 14</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <div class="title">
            <div class="title-container">
                <h1>Team 14</h1>
            </div>
        </div>

        <div class="content">
            <h2>Communication</h2>
            <p>
                (We kind of developed this website ...)<br>
                We also created an instagram account and posted regularly articles about landmine detection and informations about each team's project advancement.
            </p>

            <h2>Infrared sensor</h2>
            <p>
                After doing some researches to learn more about infrared our subject, we where give an infrared sensor along with an Arduino.<br>
                We developed a code that allows us to visualize in real-time a heatmap from data data from the sensor. It is able to detect a range of temperatures between 20°C and 40°C.<br>
                In a second time, we trained an object detection model using a dataset of landmines infrared images found online. We annotated the images, used data augmentation to increase the dataset's size and trained the model which gave us very promising results.
            </p>

        </div>

        <div class="back-button-container">
            <a href="{% url 'teams' %}" class="back-button">Back to Teams</a>
        </div>
    </div>
    <div class="team-members">
        <div class="title">
            <div class="title-container">
                <h2>Team Members</h2>
            </div>
        </div>
        <div class="member-cards">
                        <div class="member-card">
                <h3>Louise Ferreira</h3>
                <p>Data & Artificial Intelligence</p>
            </div>
            <div class="member-card">
                <h3>Louis-Melchior Giraud</h3>
                <p>Data & Artificial Intelligence</p>
            </div>
            <div class="member-card">
                <h3>Etienne Goury</h3>
                <p>Data & Artificial Intelligence</p>
            </div>
            <div class="member-card">
                <h3>Thibaut Ermenault</h3>
                <p>Data & Artificial Intelligence</p>
            </div>
        </div>
    </div>

</body>
</html>